@(message: String)

@main("Welcome to Play") {
    choose an item <select data-bind="options: items, optionsCaption: 'choose...', optionsText: 'name', value: chosenItem"></select>

    <button data-bind=" enable: chosenItem, click: resetItem">Clear</button>

    <p data-bind="with : chosenItem"> You have chosen <b data-bind="text: name"></b> ($<span data-bind="text: price"></span>
        )</p>

}

<script>
        function ItemViewModel(){
            this.items = [
                {name: "item1", price : 200 },
                {name: "item2", price : 125.90 },
                {name: "item3", price : 321.87 }];
            this.chosenItem = ko.observable();
            this.resetItem = function(){this.chosenItem(null)};
        }

        ko.applyBindings(new ItemViewModel());
</script>