@(message: String)

@main("Welcome to Play") {
    <div class='liveExample'>

        <div class="row">
            <div class="col-md-12" >
                <div class="form-group">
                    <label>First Name:</label>
                    <input data-bind="value: firstName"/>
                </div>
                <div class="form-group">
                    <label>Last Name:</label>
                    <input data-bind="value: lastName"/>
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input data-bind="value: email"/>
                </div>
            </div>
            <h2>User Detail, <span data-bind="text: userDetail"> </span>!</h2>
        </div>
    </div>
}

<script>
        var UserDetailModel = function (data) {
            this.firstName = ko.observable(data.firstName);
            this.lastName = ko.observable(data.lastName);
            this.email = ko.observable(data.email);
            // Knockout resolved dependencies automatically. It knows that userDetail depends on firstName and lastName and email.

            this.userDetail = ko.computed(function() {
                return this.firstName() + " " + this.lastName() + " " + this.email();
            }, this);
        };

        $(document).ready(function(){
            var request = $.ajax({
                url: "/user",
                type: "GET",
                contentType: "text/plain",
                success: function (data) {
                    ko.applyBindings(new UserDetailModel(data))
                }
            });
        });
</script>